<a href="https://colab.research.google.com/github/Plus-blank/2021-11-26_Machine-Learning_HousePrices/blob/main/%E6%88%BF%E5%83%B9%E9%A0%90%E6%B8%AC%E7%A8%8B%E5%BC%8F%E7%A2%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#參考網路教學，與同學分享的教學加上老師的上課講解

#數據讀取
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense,Activation
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing
from keras.callbacks import *

In [2]:
#導入google drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
DATA_HOUSE = '/content/gdrive/MyDrive/house'

In [6]:
a_datas = pd.read_csv(f'{DATA_HOUSE}/train-v3.csv') #用pandas讀取csv檔案
a_datas #看一下數值

               id   price  sale_yr  ...     long  sqft_living15  sqft_lot15
0      5615100330  200000     2015  ... -121.986           1280        6532
1      8835900086  350000     2014  ... -122.261           2500       11100
2      9510900270  254000     2014  ... -122.376           1630        7885
3      2621600015  175000     2015  ... -122.217           1492        8924
4      8078350090  619000     2015  ... -122.021           2170        7503
...           ...     ...      ...  ...      ...            ...         ...
12962  9253900354  580000     2014  ... -122.112           2200       12851
12963  9510300130  598000     2014  ... -121.723           2760       35440
12964  1105000373  252500     2015  ... -122.272           1110        3515
12965  3629990280  497000     2014  ... -121.999           1630        3348
12966  9521100586  479000     2014  ... -122.351           1510        2151

[12967 rows x 23 columns]

In [7]:
a_datas.dropna() #去空值看看，測試結果沒有空值

               id   price  sale_yr  ...     long  sqft_living15  sqft_lot15
0      5615100330  200000     2015  ... -121.986           1280        6532
1      8835900086  350000     2014  ... -122.261           2500       11100
2      9510900270  254000     2014  ... -122.376           1630        7885
3      2621600015  175000     2015  ... -122.217           1492        8924
4      8078350090  619000     2015  ... -122.021           2170        7503
...           ...     ...      ...  ...      ...            ...         ...
12962  9253900354  580000     2014  ... -122.112           2200       12851
12963  9510300130  598000     2014  ... -121.723           2760       35440
12964  1105000373  252500     2015  ... -122.272           1110        3515
12965  3629990280  497000     2014  ... -121.999           1630        3348
12966  9521100586  479000     2014  ... -122.351           1510        2151

[12967 rows x 23 columns]

In [8]:
X_train = a_datas.drop(['price','id'],axis=1).values
Y_train = a_datas['price'].values

In [9]:
b_datas = pd.read_csv(f'{DATA_HOUSE}/valid-v3.csv')
X_valid = b_datas.drop(['price','id'],axis=1).values
Y_valid = b_datas['price'].values

In [10]:
c_datas = pd.read_csv(f'{DATA_HOUSE}/test-v3.csv')
X_test = c_datas.drop(['id'],axis=1).values

In [11]:
transfer = StandardScaler().fit(X_train) #正規化 還不是很理解意思
X_train = transfer.fit_transform(X_train)
X_valid_1 = transfer.fit_transform(X_valid)
X_test = transfer.fit_transform(X_test)

In [12]:
model = Sequential()
model.add(Dense(units=90, input_dim=X_train.shape[1], kernel_initializer='normal',activation='relu'))
model.add(Dense(units=150, kernel_initializer='normal',activation='relu')) #activation是輸出
model.add(Dense(units=300, kernel_initializer='normal',activation='relu'))
model.add(Dense(units=300, kernel_initializer='normal',activation='relu'))
model.add(Dense(units=200, kernel_initializer='normal',activation='relu'))
model.add(Dense(units=90, kernel_initializer='normal',activation='relu'))
model.add(Dense(units=1, kernel_initializer='normal', activation='relu'))


model.compile(loss='MAE', optimizer='adam',) #規則要loss=MAE
epochs = 110  #epochs調高batch_size就要調低_反之也是
batch_size = 39

In [13]:
file_name=str(epochs)+'_'+str(batch_size)
TB=TensorBoard(log_dir='logs/'+file_name, histogram_freq=0)
model.fit(X_train, Y_train, batch_size=batch_size, epochs=epochs,verbose=1,validation_data=(X_valid_1, Y_valid),callbacks=[TB])
#找到val_loss過高原因validation_data要導入正規化的X_valid_1才對

Epoch 1/110
333/333 [==============================] - 3s 6ms/step - loss: 205482.0469 - val_loss: 115877.7344
Epoch 2/110
333/333 [==============================] - 2s 6ms/step - loss: 109308.0938 - val_loss: 106427.6953
Epoch 3/110
333/333 [==============================] - 2s 6ms/step - loss: 106305.4688 - val_loss: 113235.3047
Epoch 4/110
333/333 [==============================] - 2s 6ms/step - loss: 104079.4219 - val_loss: 105538.6016
Epoch 5/110
333/333 [==============================] - 2s 6ms/step - loss: 103135.9609 - val_loss: 103099.2422
Epoch 6/110
333/333 [==============================] - 2s 6ms/step - loss: 101247.5000 - val_loss: 103331.0469
Epoch 7/110
333/333 [==============================] - 2s 6ms/step - loss: 99064.5469 - val_loss: 97405.5625
Epoch 8/110
333/333 [==============================] - 2s 6ms/step - loss: 97135.4375 - val_loss: 95104.5234
Epoch 9/110
333/333 [==============================] - 2s 6ms/step - loss: 95402.1172 - val_loss: 92897.5781
Epoch 10/110
333/333 [==============================] - 2s 6ms/step - loss: 91949.1719 - val_loss: 90773.3125
Epoch 11/110
333/333 [==============================] - 2s 6ms/step - loss: 89993.4688 - val_loss: 86248.6328
Epoch 12/110
333/333 [==============================] - 2s 6ms/step - loss: 87008.1250 - val_loss: 82296.5469
Epoch 13/110
333/333 [==============================] - 2s 6ms/step - loss: 85257.5781 - val_loss: 79843.0469
Epoch 14/110
333/333 [==============================] - 2s 6ms/step - loss: 82913.4375 - val_loss: 81976.7344
Epoch 15/110
333/333 [==============================] - 2s 6ms/step - loss: 81259.0938 - val_loss: 77367.1953
Epoch 16/110
333/333 [==============================] - 2s 6ms/step - loss: 79780.6484 - val_loss: 77419.8984
Epoch 17/110
333/333 [==============================] - 2s 6ms/step - loss: 78467.6953 - val_loss: 73523.2656
Epoch 18/110
333/333 [==============================] - 2s 6ms/step - loss: 76562.5859 - val_loss: 72947.4609
Epoch 19/110
333/333 [==============================] - 2s 5ms/step - loss: 76684.9531 - val_loss: 73191.3672
Epoch 20/110
333/333 [==============================] - 2s 6ms/step - loss: 75117.6797 - val_loss: 71267.4609
Epoch 21/110
333/333 [==============================] - 2s 5ms/step - loss: 73469.8594 - val_loss: 77318.5859
Epoch 22/110
333/333 [==============================] - 2s 6ms/step - loss: 74104.5781 - val_loss: 71936.0000
Epoch 23/110
333/333 [==============================] - 2s 6ms/step - loss: 72118.0391 - val_loss: 70371.9922
Epoch 24/110
333/333 [==============================] - 2s 5ms/step - loss: 71676.5078 - val_loss: 83193.2969
Epoch 25/110
333/333 [==============================] - 2s 6ms/step - loss: 71927.3359 - val_loss: 70579.3750
Epoch 26/110
333/333 [==============================] - 2s 6ms/step - loss: 70533.0156 - val_loss: 68700.1250
Epoch 27/110
333/333 [==============================] - 2s 6ms/step - loss: 69838.8047 - val_loss: 68838.7812
Epoch 28/110
333/333 [==============================] - 2s 6ms/step - loss: 69343.5859 - val_loss: 74102.3594
Epoch 29/110
333/333 [==============================] - 2s 6ms/step - loss: 69447.3828 - val_loss: 69188.8828
Epoch 30/110
333/333 [==============================] - 2s 5ms/step - loss: 68388.2656 - val_loss: 68577.6875
Epoch 31/110
333/333 [==============================] - 2s 6ms/step - loss: 68811.3438 - val_loss: 73612.3359
Epoch 32/110
333/333 [==============================] - 2s 6ms/step - loss: 67637.2734 - val_loss: 67493.1406
Epoch 33/110
333/333 [==============================] - 2s 6ms/step - loss: 68370.0938 - val_loss: 68631.0547
Epoch 34/110
333/333 [==============================] - 2s 6ms/step - loss: 67095.4766 - val_loss: 70908.8438
Epoch 35/110
333/333 [==============================] - 2s 6ms/step - loss: 67019.5234 - val_loss: 67653.6016
Epoch 36/110
333/333 [==============================] - 2s 6ms/step - loss: 66713.2109 - val_loss: 74288.8203
Epoch 37/110
333/333 [==============================] - 2s 6ms/step - loss: 66369.2578 - val_loss: 68841.3672
Epoch 38/110
333/333 [==============================] - 2s 6ms/step - loss: 66273.9297 - val_loss: 67262.1406
Epoch 39/110
333/333 [==============================] - 2s 6ms/step - loss: 66414.8594 - val_loss: 72577.2422
Epoch 40/110
333/333 [==============================] - 2s 6ms/step - loss: 66162.1328 - val_loss: 70485.8438
Epoch 41/110
333/333 [==============================] - 2s 6ms/step - loss: 65395.7734 - val_loss: 67727.4453
Epoch 42/110
333/333 [==============================] - 2s 6ms/step - loss: 65435.1953 - val_loss: 67761.3438
Epoch 43/110
333/333 [==============================] - 2s 6ms/step - loss: 65116.3164 - val_loss: 68288.8047
Epoch 44/110
333/333 [==============================] - 2s 6ms/step - loss: 64740.3945 - val_loss: 68028.5156
Epoch 45/110
333/333 [==============================] - 2s 6ms/step - loss: 64321.5703 - val_loss: 68225.3047
Epoch 46/110
333/333 [==============================] - 2s 6ms/step - loss: 64249.7891 - val_loss: 67725.3125
Epoch 47/110
333/333 [==============================] - 2s 5ms/step - loss: 63848.9805 - val_loss: 66864.7891
Epoch 48/110
333/333 [==============================] - 2s 5ms/step - loss: 64373.8516 - val_loss: 66607.6016
Epoch 49/110
333/333 [==============================] - 2s 6ms/step - loss: 63344.9961 - val_loss: 66570.8438
Epoch 50/110
333/333 [==============================] - 2s 6ms/step - loss: 64237.2539 - val_loss: 71261.2266
Epoch 51/110
333/333 [==============================] - 2s 6ms/step - loss: 63865.7812 - val_loss: 67342.7812
Epoch 52/110
333/333 [==============================] - 2s 6ms/step - loss: 63255.2656 - val_loss: 71511.1562
Epoch 53/110
333/333 [==============================] - 2s 6ms/step - loss: 64013.5078 - val_loss: 69545.7812
Epoch 54/110
333/333 [==============================] - 2s 6ms/step - loss: 62962.7578 - val_loss: 69379.8359
Epoch 55/110
333/333 [==============================] - 2s 6ms/step - loss: 62385.5039 - val_loss: 66909.7891
Epoch 56/110
333/333 [==============================] - 2s 6ms/step - loss: 62629.9688 - val_loss: 66001.5703
Epoch 57/110
333/333 [==============================] - 2s 6ms/step - loss: 62112.4609 - val_loss: 67130.3828
Epoch 58/110
333/333 [==============================] - 2s 6ms/step - loss: 61478.1914 - val_loss: 68176.1875
Epoch 59/110
333/333 [==============================] - 2s 6ms/step - loss: 62726.9883 - val_loss: 66951.3438
Epoch 60/110
333/333 [==============================] - 2s 6ms/step - loss: 61985.4922 - val_loss: 67019.9375
Epoch 61/110
333/333 [==============================] - 2s 6ms/step - loss: 62004.3438 - val_loss: 69839.7500
Epoch 62/110
333/333 [==============================] - 2s 6ms/step - loss: 62044.5469 - val_loss: 70661.9062
Epoch 63/110
333/333 [==============================] - 2s 6ms/step - loss: 61877.7031 - val_loss: 69387.2266
Epoch 64/110
333/333 [==============================] - 2s 6ms/step - loss: 62213.3203 - val_loss: 68648.3516
Epoch 65/110
333/333 [==============================] - 2s 6ms/step - loss: 61140.3086 - val_loss: 67174.7969
Epoch 66/110
333/333 [==============================] - 2s 6ms/step - loss: 61726.4141 - val_loss: 66539.0781
Epoch 67/110
333/333 [==============================] - 2s 6ms/step - loss: 60690.0391 - val_loss: 71956.3906
Epoch 68/110
333/333 [==============================] - 2s 6ms/step - loss: 61150.4023 - val_loss: 66424.8516
Epoch 69/110
333/333 [==============================] - 2s 6ms/step - loss: 59959.4805 - val_loss: 69144.3750
Epoch 70/110
333/333 [==============================] - 2s 6ms/step - loss: 59815.4883 - val_loss: 65158.7617
Epoch 71/110
333/333 [==============================] - 2s 6ms/step - loss: 59639.7031 - val_loss: 65038.7578
Epoch 72/110
333/333 [==============================] - 2s 6ms/step - loss: 60590.9492 - val_loss: 66750.4375
Epoch 73/110
333/333 [==============================] - 2s 6ms/step - loss: 60345.1641 - val_loss: 69290.7188
Epoch 74/110
333/333 [==============================] - 2s 6ms/step - loss: 59501.7773 - val_loss: 65992.7812
Epoch 75/110
333/333 [==============================] - 2s 6ms/step - loss: 58846.5156 - val_loss: 65876.1250
Epoch 76/110
333/333 [==============================] - 2s 6ms/step - loss: 59603.9805 - val_loss: 67805.6641
Epoch 77/110
333/333 [==============================] - 2s 6ms/step - loss: 58758.4961 - val_loss: 66816.5156
Epoch 78/110
333/333 [==============================] - 2s 6ms/step - loss: 58864.3633 - val_loss: 66303.1641
Epoch 79/110
333/333 [==============================] - 2s 6ms/step - loss: 58163.1562 - val_loss: 66685.7578
Epoch 80/110
333/333 [==============================] - 2s 6ms/step - loss: 58610.8906 - val_loss: 67419.9062
Epoch 81/110
333/333 [==============================] - 2s 6ms/step - loss: 58003.5156 - val_loss: 67681.9922
Epoch 82/110
333/333 [==============================] - 2s 6ms/step - loss: 57880.4727 - val_loss: 68445.6250
Epoch 83/110
333/333 [==============================] - 2s 6ms/step - loss: 58497.2422 - val_loss: 69652.5000
Epoch 84/110
333/333 [==============================] - 2s 6ms/step - loss: 57432.6680 - val_loss: 68816.7500
Epoch 85/110
333/333 [==============================] - 2s 6ms/step - loss: 57515.6367 - val_loss: 66946.2266
Epoch 86/110
333/333 [==============================] - 2s 6ms/step - loss: 57624.4648 - val_loss: 66452.0391
Epoch 87/110
333/333 [==============================] - 2s 6ms/step - loss: 57445.1484 - val_loss: 66868.4922
Epoch 88/110
333/333 [==============================] - 2s 6ms/step - loss: 56199.7383 - val_loss: 68977.6250
Epoch 89/110
333/333 [==============================] - 2s 6ms/step - loss: 57437.1445 - val_loss: 68405.0703
Epoch 90/110
333/333 [==============================] - 2s 6ms/step - loss: 56500.1680 - val_loss: 66995.5391
Epoch 91/110
333/333 [==============================] - 2s 6ms/step - loss: 56612.6953 - val_loss: 69010.5859
Epoch 92/110
333/333 [==============================] - 2s 6ms/step - loss: 55644.8750 - val_loss: 66950.1562
Epoch 93/110
333/333 [==============================] - 2s 6ms/step - loss: 55707.4453 - val_loss: 66498.8984
Epoch 94/110
333/333 [==============================] - 2s 6ms/step - loss: 54926.9961 - val_loss: 68140.0469
Epoch 95/110
333/333 [==============================] - 2s 6ms/step - loss: 55308.2656 - val_loss: 66283.3906
Epoch 96/110
333/333 [==============================] - 2s 6ms/step - loss: 54709.2188 - val_loss: 68255.3203
Epoch 97/110
333/333 [==============================] - 2s 6ms/step - loss: 54737.9492 - val_loss: 65754.0000
Epoch 98/110
333/333 [==============================] - 2s 6ms/step - loss: 54866.6289 - val_loss: 66118.0859
Epoch 99/110
333/333 [==============================] - 2s 6ms/step - loss: 54418.2422 - val_loss: 66283.0469
Epoch 100/110
333/333 [==============================] - 2s 6ms/step - loss: 54051.0938 - val_loss: 66419.0859
Epoch 101/110
333/333 [==============================] - 2s 6ms/step - loss: 53727.5391 - val_loss: 70913.7344
Epoch 102/110
333/333 [==============================] - 2s 6ms/step - loss: 53759.9219 - val_loss: 72222.0859
Epoch 103/110
333/333 [==============================] - 2s 6ms/step - loss: 54119.4102 - val_loss: 67988.0859
Epoch 104/110
333/333 [==============================] - 2s 6ms/step - loss: 53360.4297 - val_loss: 66047.4531
Epoch 105/110
333/333 [==============================] - 2s 6ms/step - loss: 53700.5312 - val_loss: 70390.6328
Epoch 106/110
333/333 [==============================] - 2s 6ms/step - loss: 52358.6914 - val_loss: 68215.2266
Epoch 107/110
333/333 [==============================] - 2s 6ms/step - loss: 52193.8398 - val_loss: 69209.7188
Epoch 108/110
333/333 [==============================] - 2s 6ms/step - loss: 52680.9766 - val_loss: 65777.7422
Epoch 109/110
333/333 [==============================] - 2s 6ms/step - loss: 52184.8906 - val_loss: 67568.4922
Epoch 110/110
333/333 [==============================] - 2s 6ms/step - loss: 51649.5977 - val_loss: 69555.1250

In [14]:
model.save('h5/'+file_name+'.h5')

In [19]:
test_predict = model.predict(X_test)

In [23]:
with open("test.csv","w") as f :
  f.write("id,price\n")
  for i in range(len(test_predict)):
    f.write(str(i+1)+","+str(float(test_predict[i]))+ "\n")