<a href="https://colab.research.google.com/github/Plus-blank/2021-11-26_Machine-Learning_HousePrices/blob/main/%E6%88%BF%E5%83%B9%E9%A0%90%E6%B8%AC%E7%A8%8B%E5%BC%8F%E7%A2%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#參考網路教學，與同學分享的教學加上老師的上課講解

#數據讀取
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense,Activation
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing
from keras.callbacks import *

In [2]:
#導入google drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
DATA_HOUSE = '/content/gdrive/MyDrive/house'

In [6]:
a_datas = pd.read_csv(f'{DATA_HOUSE}/train-v3.csv') #用pandas讀取csv檔案
a_datas #看一下數值

               id   price  sale_yr  ...     long  sqft_living15  sqft_lot15
0      5615100330  200000     2015  ... -121.986           1280        6532
1      8835900086  350000     2014  ... -122.261           2500       11100
2      9510900270  254000     2014  ... -122.376           1630        7885
3      2621600015  175000     2015  ... -122.217           1492        8924
4      8078350090  619000     2015  ... -122.021           2170        7503
...           ...     ...      ...  ...      ...            ...         ...
12962  9253900354  580000     2014  ... -122.112           2200       12851
12963  9510300130  598000     2014  ... -121.723           2760       35440
12964  1105000373  252500     2015  ... -122.272           1110        3515
12965  3629990280  497000     2014  ... -121.999           1630        3348
12966  9521100586  479000     2014  ... -122.351           1510        2151

[12967 rows x 23 columns]

In [7]:
a_datas.dropna() #去空值看看，測試結果沒有空值

               id   price  sale_yr  ...     long  sqft_living15  sqft_lot15
0      5615100330  200000     2015  ... -121.986           1280        6532
1      8835900086  350000     2014  ... -122.261           2500       11100
2      9510900270  254000     2014  ... -122.376           1630        7885
3      2621600015  175000     2015  ... -122.217           1492        8924
4      8078350090  619000     2015  ... -122.021           2170        7503
...           ...     ...      ...  ...      ...            ...         ...
12962  9253900354  580000     2014  ... -122.112           2200       12851
12963  9510300130  598000     2014  ... -121.723           2760       35440
12964  1105000373  252500     2015  ... -122.272           1110        3515
12965  3629990280  497000     2014  ... -121.999           1630        3348
12966  9521100586  479000     2014  ... -122.351           1510        2151

[12967 rows x 23 columns]

In [8]:
X_train = a_datas.drop(['price','id'],axis=1).values
Y_train = a_datas['price'].values

In [9]:
b_datas = pd.read_csv(f'{DATA_HOUSE}/valid-v3.csv')
X_valid = b_datas.drop(['price','id'],axis=1).values
Y_valid = b_datas['price'].values

In [10]:
c_datas = pd.read_csv(f'{DATA_HOUSE}/test-v3.csv')
X_test = c_datas.drop(['id'],axis=1).values

In [11]:
transfer = StandardScaler().fit(X_train) #正規化 還不是很理解意思
X_train = transfer.fit_transform(X_train)
X_valid_1 = transfer.fit_transform(X_valid)
X_test = transfer.fit_transform(X_test)

In [12]:
model = Sequential()
model.add(Dense(units=90, input_dim=X_train.shape[1], kernel_initializer='normal',activation='relu'))
model.add(Dense(units=150, kernel_initializer='normal',activation='relu')) #activation是輸出
model.add(Dense(units=300, kernel_initializer='normal',activation='relu'))
model.add(Dense(units=300, kernel_initializer='normal',activation='relu'))
model.add(Dense(units=200, kernel_initializer='normal',activation='relu'))
model.add(Dense(units=90, kernel_initializer='normal',activation='relu'))
model.add(Dense(units=1, kernel_initializer='normal', activation='relu'))


model.compile(loss='MAE', optimizer='adam',) #規則要loss=MAE
epochs = 110  #epochs調高batch_size就要調低_反之也是
batch_size = 39

In [25]:
file_name=str(epochs)+'_'+str(batch_size) #開始讓模型跑
TB=TensorBoard(log_dir='logs/'+file_name, histogram_freq=0)
model.fit(X_train, Y_train, batch_size=batch_size, epochs=epochs,verbose=1,validation_data=(X_valid_1, Y_valid),callbacks=[TB])

Epoch 1/110
333/333 [==============================] - 2s 6ms/step - loss: 51085.0664 - val_loss: 70124.3359
Epoch 2/110
333/333 [==============================] - 2s 6ms/step - loss: 51265.2305 - val_loss: 68484.1719
Epoch 3/110
333/333 [==============================] - 2s 6ms/step - loss: 50588.7109 - val_loss: 68961.7344
Epoch 4/110
333/333 [==============================] - 2s 6ms/step - loss: 51008.1367 - val_loss: 68447.0703
Epoch 5/110
333/333 [==============================] - 2s 6ms/step - loss: 50196.5508 - val_loss: 68839.9141
Epoch 6/110
333/333 [==============================] - 2s 6ms/step - loss: 50785.6836 - val_loss: 68576.7266
Epoch 7/110
333/333 [==============================] - 2s 6ms/step - loss: 50277.4570 - val_loss: 67500.2109
Epoch 8/110
333/333 [==============================] - 2s 6ms/step - loss: 49020.6250 - val_loss: 67750.9062
Epoch 9/110
333/333 [==============================] - 2s 6ms/step - loss: 49895.7383 - val_loss: 70832.4844
Epoch 10/110
333/333 [==============================] - 2s 6ms/step - loss: 49522.8633 - val_loss: 68748.6406
Epoch 11/110
333/333 [==============================] - 2s 6ms/step - loss: 48725.1484 - val_loss: 70045.2812
Epoch 12/110
333/333 [==============================] - 2s 6ms/step - loss: 48945.2344 - val_loss: 67226.5938
Epoch 13/110
333/333 [==============================] - 2s 6ms/step - loss: 49906.9766 - val_loss: 69429.5312
Epoch 14/110
333/333 [==============================] - 2s 7ms/step - loss: 48935.8438 - val_loss: 70226.9297
Epoch 15/110
333/333 [==============================] - 2s 6ms/step - loss: 47966.0625 - val_loss: 69273.5000
Epoch 16/110
333/333 [==============================] - 2s 6ms/step - loss: 48144.0273 - val_loss: 71748.3203
Epoch 17/110
333/333 [==============================] - 2s 6ms/step - loss: 47893.0391 - val_loss: 70717.5703
Epoch 18/110
333/333 [==============================] - 2s 6ms/step - loss: 48533.9570 - val_loss: 71847.5938
Epoch 19/110
333/333 [==============================] - 2s 6ms/step - loss: 47973.2148 - val_loss: 69678.1406
Epoch 20/110
333/333 [==============================] - 2s 7ms/step - loss: 47653.2578 - val_loss: 82423.0625
Epoch 21/110
333/333 [==============================] - 2s 6ms/step - loss: 47923.1680 - val_loss: 70621.2734
Epoch 22/110
333/333 [==============================] - 2s 6ms/step - loss: 47482.0938 - val_loss: 69208.2812
Epoch 23/110
333/333 [==============================] - 2s 6ms/step - loss: 47085.9141 - val_loss: 69428.0859
Epoch 24/110
333/333 [==============================] - 2s 6ms/step - loss: 47419.3867 - val_loss: 69019.0469
Epoch 25/110
333/333 [==============================] - 2s 6ms/step - loss: 46688.2695 - val_loss: 70181.4219
Epoch 26/110
333/333 [==============================] - 2s 6ms/step - loss: 46417.7812 - val_loss: 69208.8906
Epoch 27/110
333/333 [==============================] - 2s 6ms/step - loss: 46607.6836 - val_loss: 71289.1172
Epoch 28/110
333/333 [==============================] - 2s 6ms/step - loss: 45949.4297 - val_loss: 70443.6250
Epoch 29/110
333/333 [==============================] - 2s 6ms/step - loss: 45822.3555 - val_loss: 69097.7969
Epoch 30/110
333/333 [==============================] - 2s 6ms/step - loss: 46024.1406 - val_loss: 69786.2109
Epoch 31/110
333/333 [==============================] - 2s 6ms/step - loss: 45685.4023 - val_loss: 70427.6250
Epoch 32/110
333/333 [==============================] - 2s 6ms/step - loss: 45426.6133 - val_loss: 71112.0938
Epoch 33/110
333/333 [==============================] - 2s 6ms/step - loss: 45320.6758 - val_loss: 70477.5312
Epoch 34/110
333/333 [==============================] - 2s 6ms/step - loss: 46101.4336 - val_loss: 68842.0000
Epoch 35/110
333/333 [==============================] - 2s 6ms/step - loss: 45108.2617 - val_loss: 70501.2500
Epoch 36/110
333/333 [==============================] - 2s 6ms/step - loss: 44995.6484 - val_loss: 70513.1328
Epoch 37/110
333/333 [==============================] - 2s 6ms/step - loss: 44523.4922 - val_loss: 70339.2500
Epoch 38/110
333/333 [==============================] - 2s 6ms/step - loss: 44863.5859 - val_loss: 69965.7812
Epoch 39/110
333/333 [==============================] - 2s 6ms/step - loss: 45010.4727 - val_loss: 70122.6328
Epoch 40/110
333/333 [==============================] - 2s 6ms/step - loss: 43857.3672 - val_loss: 70735.7812
Epoch 41/110
333/333 [==============================] - 2s 6ms/step - loss: 43622.6562 - val_loss: 70703.8359
Epoch 42/110
333/333 [==============================] - 2s 6ms/step - loss: 44028.1094 - val_loss: 71579.6094
Epoch 43/110
333/333 [==============================] - 2s 6ms/step - loss: 44373.3828 - val_loss: 70705.5547
Epoch 44/110
333/333 [==============================] - 2s 6ms/step - loss: 43912.2227 - val_loss: 73237.6484
Epoch 45/110
333/333 [==============================] - 2s 6ms/step - loss: 44034.1680 - val_loss: 70318.0469
Epoch 46/110
333/333 [==============================] - 2s 6ms/step - loss: 43435.8828 - val_loss: 69418.0547
Epoch 47/110
333/333 [==============================] - 2s 6ms/step - loss: 43293.5117 - val_loss: 71872.4062
Epoch 48/110
333/333 [==============================] - 2s 6ms/step - loss: 42836.6602 - val_loss: 71367.9766
Epoch 49/110
333/333 [==============================] - 2s 6ms/step - loss: 42411.6641 - val_loss: 75993.2500
Epoch 50/110
333/333 [==============================] - 2s 6ms/step - loss: 43273.3789 - val_loss: 70509.6641
Epoch 51/110
333/333 [==============================] - 2s 6ms/step - loss: 43220.9258 - val_loss: 71284.8906
Epoch 52/110
333/333 [==============================] - 2s 6ms/step - loss: 42624.8477 - val_loss: 70998.2031
Epoch 53/110
333/333 [==============================] - 2s 6ms/step - loss: 43177.2422 - val_loss: 72384.0703
Epoch 54/110
333/333 [==============================] - 2s 6ms/step - loss: 42414.3047 - val_loss: 71967.1406
Epoch 55/110
333/333 [==============================] - 2s 6ms/step - loss: 42134.6484 - val_loss: 73690.2578
Epoch 56/110
333/333 [==============================] - 2s 6ms/step - loss: 42550.8086 - val_loss: 72180.3516
Epoch 57/110
333/333 [==============================] - 2s 6ms/step - loss: 42323.2969 - val_loss: 71154.8281
Epoch 58/110
333/333 [==============================] - 2s 6ms/step - loss: 41593.6914 - val_loss: 71551.5156
Epoch 59/110
333/333 [==============================] - 2s 6ms/step - loss: 41759.8594 - val_loss: 70386.5703
Epoch 60/110
333/333 [==============================] - 2s 6ms/step - loss: 41151.8867 - val_loss: 70003.8359
Epoch 61/110
333/333 [==============================] - 2s 7ms/step - loss: 41559.1523 - val_loss: 72932.2500
Epoch 62/110
333/333 [==============================] - 2s 6ms/step - loss: 41664.9180 - val_loss: 74091.7109
Epoch 63/110
333/333 [==============================] - 2s 6ms/step - loss: 41100.4023 - val_loss: 72980.5625
Epoch 64/110
333/333 [==============================] - 2s 6ms/step - loss: 41444.6992 - val_loss: 72649.7812
Epoch 65/110
333/333 [==============================] - 2s 6ms/step - loss: 40845.9375 - val_loss: 73322.5938
Epoch 66/110
333/333 [==============================] - 2s 6ms/step - loss: 40436.7148 - val_loss: 72557.3906
Epoch 67/110
333/333 [==============================] - 2s 6ms/step - loss: 40967.7969 - val_loss: 72464.9766
Epoch 68/110
333/333 [==============================] - 2s 7ms/step - loss: 40354.0195 - val_loss: 72874.5156
Epoch 69/110
333/333 [==============================] - 2s 6ms/step - loss: 40430.6250 - val_loss: 73849.5312
Epoch 70/110
333/333 [==============================] - 2s 6ms/step - loss: 40308.6094 - val_loss: 72559.1328
Epoch 71/110
333/333 [==============================] - 2s 6ms/step - loss: 41160.4648 - val_loss: 73006.7266
Epoch 72/110
333/333 [==============================] - 2s 6ms/step - loss: 39734.1172 - val_loss: 73233.1328
Epoch 73/110
333/333 [==============================] - 2s 6ms/step - loss: 40228.1016 - val_loss: 72441.5703
Epoch 74/110
333/333 [==============================] - 2s 6ms/step - loss: 40740.8008 - val_loss: 74098.4453
Epoch 75/110
333/333 [==============================] - 2s 6ms/step - loss: 39676.4219 - val_loss: 76702.7969
Epoch 76/110
333/333 [==============================] - 2s 6ms/step - loss: 39955.3555 - val_loss: 72411.3984
Epoch 77/110
333/333 [==============================] - 2s 6ms/step - loss: 39309.0703 - val_loss: 72386.2734
Epoch 78/110
333/333 [==============================] - 2s 6ms/step - loss: 39492.0273 - val_loss: 73247.3203
Epoch 79/110
333/333 [==============================] - 2s 6ms/step - loss: 39585.9727 - val_loss: 76425.1172
Epoch 80/110
333/333 [==============================] - 2s 6ms/step - loss: 39740.2539 - val_loss: 75488.7734
Epoch 81/110
333/333 [==============================] - 2s 6ms/step - loss: 39967.0742 - val_loss: 75163.1250
Epoch 82/110
333/333 [==============================] - 2s 6ms/step - loss: 39519.9805 - val_loss: 72709.0391
Epoch 83/110
333/333 [==============================] - 2s 6ms/step - loss: 38795.9492 - val_loss: 73838.4531
Epoch 84/110
333/333 [==============================] - 2s 6ms/step - loss: 38685.6094 - val_loss: 73153.3516
Epoch 85/110
333/333 [==============================] - 2s 6ms/step - loss: 38943.3320 - val_loss: 72842.7109
Epoch 86/110
333/333 [==============================] - 2s 6ms/step - loss: 38724.7734 - val_loss: 74588.4922
Epoch 87/110
333/333 [==============================] - 2s 6ms/step - loss: 38567.9062 - val_loss: 74834.8906
Epoch 88/110
333/333 [==============================] - 2s 6ms/step - loss: 39248.6367 - val_loss: 72772.5000
Epoch 89/110
333/333 [==============================] - 2s 6ms/step - loss: 38727.1406 - val_loss: 73460.5000
Epoch 90/110
333/333 [==============================] - 2s 7ms/step - loss: 37765.2969 - val_loss: 72377.0078
Epoch 91/110
333/333 [==============================] - 2s 7ms/step - loss: 38181.0117 - val_loss: 73903.4219
Epoch 92/110
333/333 [==============================] - 2s 6ms/step - loss: 38794.0625 - val_loss: 72675.8047
Epoch 93/110
333/333 [==============================] - 2s 6ms/step - loss: 38279.8281 - val_loss: 72474.5859
Epoch 94/110
333/333 [==============================] - 2s 6ms/step - loss: 38235.9883 - val_loss: 72139.4844
Epoch 95/110
333/333 [==============================] - 2s 6ms/step - loss: 37891.8945 - val_loss: 72634.5391
Epoch 96/110
333/333 [==============================] - 2s 6ms/step - loss: 38154.2695 - val_loss: 73851.1484
Epoch 97/110
333/333 [==============================] - 2s 6ms/step - loss: 37560.1172 - val_loss: 72698.5391
Epoch 98/110
333/333 [==============================] - 2s 6ms/step - loss: 37285.6211 - val_loss: 74454.4531
Epoch 99/110
333/333 [==============================] - 2s 6ms/step - loss: 37662.6211 - val_loss: 73115.2422
Epoch 100/110
333/333 [==============================] - 2s 6ms/step - loss: 37877.4219 - val_loss: 73809.4766
Epoch 101/110
333/333 [==============================] - 2s 6ms/step - loss: 37773.6094 - val_loss: 73798.3359
Epoch 102/110
333/333 [==============================] - 2s 6ms/step - loss: 37120.9375 - val_loss: 74011.8203
Epoch 103/110
333/333 [==============================] - 2s 6ms/step - loss: 36927.0898 - val_loss: 73214.3438
Epoch 104/110
333/333 [==============================] - 2s 6ms/step - loss: 38087.6602 - val_loss: 76600.4453
Epoch 105/110
333/333 [==============================] - 2s 6ms/step - loss: 37299.2852 - val_loss: 74294.1562
Epoch 106/110
333/333 [==============================] - 2s 6ms/step - loss: 36448.0820 - val_loss: 73824.6406
Epoch 107/110
333/333 [==============================] - 2s 6ms/step - loss: 37019.5117 - val_loss: 74167.7031
Epoch 108/110
333/333 [==============================] - 2s 7ms/step - loss: 37027.6562 - val_loss: 72281.5938
Epoch 109/110
333/333 [==============================] - 2s 6ms/step - loss: 36371.7734 - val_loss: 76929.5859
Epoch 110/110
333/333 [==============================] - 2s 6ms/step - loss: 36576.3867 - val_loss: 74508.3750

In [26]:
model.save('h5/'+file_name+'.h5')

In [27]:
test_predict = model.predict(X_test)

In [28]:
with open("test.csv","w") as f :
  f.write("id,price\n")
  for i in range(len(test_predict)):
    f.write(str(i+1)+","+str(float(test_predict[i]))+ "\n")